@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-image: url("gadget2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    align-content:center;
    justify-content: center;

}
.formWraper{
    display: flex;
    width: 55%;
    height: 530px;
    background-color: yellowgreen;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow:0px 0px 20px black;
}
.formDiv{
    width: 50%;
    padding: 8%;
    background-color: lavender;
    text-align: center;
    border-radius: 10px 0px 0px 10px;

}
.formDiv h2{
    color:rgb(32, 99, 223);
    margin-top: -4px;
}
.welcomeDiv{
    width:50%;
    padding: 10px;
    background-image: url("ga.jpg");
    background-size: cover;
    text-align: center;

}
.welcomeDiv h1{
     margin-top: 150px;
     color:rgb(243, 243, 243);
     font-weight: bolder;
     font-size: 44px;
     font-family: 'Rubik', sans-serif;;
}
.welcomeDiv p{
    font-size: 25px;
    
}
.socialBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color:lavender;
    margin:5px;
    line-height: 30px;
    box-shadow: 0px 0px 10px black;
}
.text{
    font-size: small;
}
.orDiv{
    width: 10%;
    margin: 0 auto;
    background-color: lavender;
    position: relative;
    top:-16px;
    justify-content: center;
}
.formGroup{
    width:100%;
    position: relative;

}
.formGroup input{
    width:93%;
    padding: 8px;
    margin-bottom: 5px;
}
.formGroup i {
    position:absolute;
    left: 10px;
    top:11px;
    color: gray;
    font-size: small;
    
}
input::placeholder{
    position: relative;
    left: 20px;
}
.checkBox{
    width: 90vm;
    margin-top: 2px;
}
.btn{
    width: 70%;
    padding: 15px;
    background-color: rgb(32, 99, 223);
    margin-top: 15px;
    color: lavender;
    border-radius: 20px;
    border-style: none;
}
.btn2{
    width: 70%;
    padding: 15px;
    background-color:transparent;
    margin-top: 15px;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    border-style: none;
    border:2px solid black;
}
.formWraper:hover{
    transform: scale(1.008);
}
.btn:hover,.btn2:hover,.icon:hover{
    background-color: rgb(127, 218, 187);
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .formWraper{
        width:70%;
    }
}
@media screen and (max-width:100px){
    .formDiv{
        width:90%;
        border-radius:10px 10px 10px 10px;
    }
    .welcomeDiv{
        display: none;
    }
}